.bdep/
/.idea/
/compile_commands.json
/make_compiledb*
/build.sh
/cmake-build*
/scripts/

/libcornet/version.h
/run_s_server.sh
/run_s_client.sh
/s_server.out
# Compiler/linker output.
#
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc
